<div class="container">
  <nav>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/products">PRODUCTOS</a></li>
      <li><a href="/cart/{{user.cart._id}}">CARRITO</a></li>
    
    </ul>
    <div class="user-dropdown">
      <button class="user-dropdown-btn">{{user.role}}</button>
      <div class="user-dropdown-content">
        <p class="users">User: {{user.name}}</p>
        <p>Email: {{user.email}}</p>
        <a href="/current/"><button>Mi perfil</button></a>
        <a href="/api/session/logout">
          <button>Cerrar Sesión</button>
        </a>
      </div>
    </div>
  </nav>
  <h1 class="title">ORDEN DE COMPRA</h1>
  <br>
  <br>
  <div class="gallery" id="product-container">
    {{#each cart.products}}
      <div class="product">
        <h2>{{this.product.title}}</h2>
        <img src="{{this.product.img}}" alt="{{this.product.title}}">
        <h3>{{this.product.description}}</h3>
        <p class="parra">{{this.product.category}}</p>
        <p>Stock:{{this.product.stock}}</p>
        <p>Unidades: {{this.quantity}}</p>
        <p class="parra">Price ${{this.product.price}}</p>
      </div>
    {{/each}}
  </div>
  <br>
  <br>
     <div>
        <h2>Total: ${{total}}</h2>
        <button id="purchaseBtn" class="" data-cart-id={{user.cart}}>COMPRAR</button>
    </div>
</div>


<script src="/js/ticket.js"></script>
