<div class="container">
<nav>
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/products">PRODUCTOS</a></li>
    <li><a href="/cart/{{user.cart}}">CARRITO</a></li>
  </ul>
</nav>
<div class="profile">
    <h1 class="titleProfile">Mi Perfil</h1>
    <p class="parrafo">{{user.first_name}} {{user.last_name}}</p>
    <p class="parrafo">RANGO: {{user.role}}</p>
 {{!--    <p class="parrafo">Has iniciado sesión {{ sessionCounter }} veces.</p> --}}
    <a href="/api/session/logout"><button class="cs">Cerrar Sesion</button></a>
      {{#if isAdmin}}
        <a href="/admin"><button>Panel Control</button></a>
      {{/if}}

      {{#if isPremium}}
          <button onclick="irAgregarProductos()">AGREGAR PRODUCTOS ( PREMIUM )</a>
      {{/if}}
      
       
      
</div>
</div>

<script src="/js/admin.js"></script>
